$fancy-red: #ff4954;
$fancy-dark-blue-bg: #0b1e2d;
$fancy-lighter-blue-bg: #142e45;
$light-grey-bg: #dedede;
$fancy-font: 'Montserrat', sans-serif;

/deep/ {
    .font-weight-bold {
        font-weight: bold !important;
    }

    .highcharts-tooltip {
        opacity: 1;
    }

    .tooltip-container {
        .episode-title {
            color: $fancy-red;
        }
        .episode-number {

        }
        .episode-rating {
            .value {
                color: $fancy-red;
            }
        }
        .episode-votes {

        }
    }

    .highcharts-tooltip-box {
        fill: #efefef;
        stroke: none;
    }
}
header {
    width: 100%;
    height: 36px;
    background-color: $fancy-dark-blue-bg;
}

.chart-footer {
    width: 100%;
    height: 36px;
    background-color: $fancy-lighter-blue-bg;
    text-align: right;
}

.fancy-font {
    font-family: $fancy-font;
}

.fancy-red {
    color: $fancy-red;
}

.search-mode-select {
    background: transparent;
    border: none;
    color: #ff4954;
    outline: none;
}

.search-input {
    background: transparent;
    outline: none;
    border: none;
    color: white;
    border-bottom: 1px solid $fancy-red;
}

.cursor-pointer {
    cursor: pointer;
}

.disabled-opacity {
    opacity: .5;
}

.error-message {
    position: absolute;
    z-index: 50;
    background: $light-grey-bg;
    font-family: Arial, sans-serif;
    font-size: small;
    padding: 24px .75rem .75rem .75rem;
    top: 35px;
    color: black;
    right: 0;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}
.carrot {
    width: 7px;
    height: 8px;
    z-index: 49;
    position: absolute;
    transform: rotate(45deg);
    top: -4px;
    right: 2px;
    background-color: $light-grey-bg;
}

.close-button {
    position: absolute;
    top: 8px;
    right: .75rem;
}

.recents-section-title {
    font-weight: bold;
    font-size: larger;
    font-family: $fancy-font;
    margin-bottom: 0;
}

.poster-title-overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30%;
    background: black;
    opacity: 75%;
    display: block;
    z-index: 15;
}

.poster-title {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30%;
    display: flex;
    z-index: 16;
    text-align: center;
    color: white;
    font-family: $fancy-font;
    justify-content: center;
    align-items: center;
}

.recents-section {
    padding-top: 2rem;
    background: $light-grey-bg;
    padding-left: 1rem;
}

.recents-poster {
    display: inline-block;
    margin-top: 1rem;
    margin-right: 1rem;
    position: relative;
}
